input[type="text"], textarea {
    background-color: rgba(236, 221, 221, 0.591);
    padding: 0.25rem;
    width: 100%;
}

input[type="submit"] {
    display: block;
    padding: 0.25rem;
    cursor: pointer;
    box-shadow: gray 2px 2px;
    border-radius: 10%;
    background-color: rgba(236, 221, 221, 0.591);
}

label {
    display: block;
}

select {
    background-color: rgba(236, 221, 221, 0.591);
}