<div class="flex justify-between align-items-center">
  <h2 class="fs-6">Inventories</h2>

  <a class="text-link" href="<%= location_new_inventory_path %>">New inventory</a>
</div>

<div class="mb-2 flex flex-wrap">
  <% @inventories.each do |inventory| %>
    <a class="box-link
            inline-block text-align-center cursor-pointer flex flex-col justify-left flex-auto
            border-around-2 border-style-ridge"
        href="<%= item_path inventory %>">

              <div class="pl-4 pr-4 pt-2 pb-2 flex flex-col justify-between">
                <div>
                  <%= inventory.name %>
                </div>

                <div>
                  <%= inventory.items.count %> items
                </div>
              </div>

    </a>
  <% end %>
</div>
