<div class="flex justify-between align-items-center">
  <h2 class="fs-6">Items</h2>

  <a class="text-link" href="<%= location_new_item_path(@location) %>">New item</a>
</div>

<div class="flex flex-wrap">
  <% @items.each do |item| %>
    <a class="box-link
            inline-block text-align-center cursor-pointer flex flex-col justify-left flex-auto
            border-around-2 border-style-ridge"
        href="<%= item_path(item) %>">

                      <div class="pl-4 pr-4 pt-2 pb-2 flex flex-col justify-start">
                        <div>
                          <%= item.name %>
                        </div>
                      </div>

    </a>
  <% end %>
</div>
