<p>
  <strong>Description:</strong><%= @item.description %>
</p>

<p>
  <strong>Notes:</strong><%= @item.notes %>
</p>

<% if @location %>
  <p>
    <strong>Location:</strong><%= @location.name %>
  </p>
<% end %>
