<h1 class="fs-8 mb-4">Editing location <%= @location.id %></h1>

<%= render "form", location: @location %>

<br>

<div>
  <%= link_to "Show this location", @location %> |
  <%= link_to "Back to locations", locations_path %>
</div>
